<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>yskj测试平台管理系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jsCalender/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="home.html">首页</a></li>
        <li><a href="#">大数据预警</a></li>
        <li><a href="#">预警级别管理</a></li>
    </ul>
</div>

<div class="rightinfo">
    <ul class="toolbar" style="margin-bottom:10px;">
        <li><a href="bigdata_jibie_add.html" class="tablelink"><span><img src="images/t01.png"/></span>新增预警级别</a></li>

    </ul>
    <ul class="prosearch">
        <li>
            <i>预警类型</i><a><input name="" type="text" class="scinput"/></a>
            <a><input name="button" type="button" class="sure" value="查询"
                      style="background:#417EB5;margin-left: 25px;"/></a>

        </li>
    </ul>


    <table class="tablelist">
        <thead>

        <tr>

            <th>序号<i class="sort"><img src="images/px.gif"/></i></th>
            <th>分值</th>
            <th>预警措施</th>
            <th>预警颜色</th>
            <th>措施</th>
            <th>备注</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <!--
        	作者：1628648978@qq.com
        	时间：2018-08-15
        	描述：无记录时提示暂无查询结果
        -->
        <!--
        	<tr><td colspan="7">暂无查询结果</td></tr>
        -->

        <tr>
            <td>1</td>
            <td>100分</td>
            <td>一级</td>
            <td><span style="color: red;font-size:30px;">●</span></td>
            <td></td>
            <td></td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>70-99分</td>
            <td>二级</td>
            <td><span style="color: orangered;font-size:30px;">●</span></td>
            <td></td>
            <td></td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>3</td>
            <td>50-69分</td>
            <td>三级</td>
            <td><span style="color:orange;font-size:30px;">●</span></td>
            <td></td>
            <td></td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>4</td>
            <td>40-49分</td>
            <td>四级</td>
            <td><span style="color: blue;font-size:30px;">●</span></td>
            <td></td>
            <td></td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        </tbody>
    </table>


</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>


</body>

</html>
