<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>yskj测试平台管理系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <style type="text/css">

    </style>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="home.html">首页</a></li>
        <li><a href="#">大数据预警</a></li>
        <li><a href="#">预警级别管理</a></li>
        <li><a href="#">新增预警级别</a></li>
        <li><a href="javascript:history.go(-1)">返回</a></li>
    </ul>
</div>

<div class="formbody">


    <div id="usual1" class="usual">


        <div id="tab1" class="tabson">

            <ul class="forminfo">
                <li><label>分值<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;"/></li>
                <li>
                    <label>预警措施<b>*</b></label>

                    <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                        <option value="0">请选择</option>
                        <option value="1">一级</option>
                        <option value="2">二级</option>
                        <option value="3">三级</option>
                        <option value="4">四级</option>
                        <option value="5">五级</option>
                    </select>

                </li>
                <li><label>预警颜色<b>*</b></label>

                    <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                        <option value="0">请选择</option>
                        <option value="1" style="background:red;color:red;">红色</option>
                        <option value="2" style="background:orangered;color:orangered;">橙色</option>
                        <option value="3" style="background:yellow;color:yellow;">黄色</option>
                        <option value="4" style="background:blue;color:blue;">蓝色</option>
                        <option value="5" style="background:green;color:green;">绿色</option>
                        <option value="6" style="background:black;color:black;">黑色</option>
                    </select>

                </li>

                <li><label>措施<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;"/></li>
                <li><label>备注<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;"/></li>

                </li>
                <li>
                    <label>&nbsp;</label><input name="" type="button" class="btn" value="确认提交"/>
                </li>
            </ul>

        </div>


    </div>
</div>


</body>

</html>
