<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>yskj测试平台管理系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jsCalender/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="home.html">首页</a></li>
        <li><a href="#">大数据预警</a></li>
        <li><a href="#">预警类型管理</a></li>
    </ul>
</div>

<div class="rightinfo">

    <ul class="prosearch">
        <li>
            <i>预警类型</i><a><input name="" type="text" class="scinput"/></a>
            <a><input name="button" type="button" class="sure" value="查询"
                      style="background:#417EB5;margin-left: 25px;"/></a>

        </li>
    </ul>


    <table class="tablelist">
        <thead>

        <tr>

            <th>序号<i class="sort"><img src="images/px.gif"/></i></th>
            <th>预警类型</th>
            <th>研判分值</th>
            <th>设置时间</th>
            <th>设置人</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <!--
        	作者：1628648978@qq.com
        	时间：2018-08-15
        	描述：无记录时提示暂无查询结果
        -->
        <!--
        	<tr><td colspan="10">暂无查询结果</td></tr>
        -->

        <tr>
            <td>1</td>
            <td>婚恋家庭</td>
            <td>10分</td>
            <td>2018-01-22 14:42:01</td>
            <td>魏海</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>2</td>
            <td>邻里关系</td>
            <td>10分</td>
            <td>2018-01-22 14:42:01</td>
            <td>江一楠</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>3</td>
            <td>劳资关系</td>
            <td>10分</td>
            <td>2018-01-22 14:42:01</td>
            <td>吕云飞</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>4</td>
            <td>与经侦嫌疑库对比</td>
            <td>10分</td>
            <td>2018-01-22 14:42:01</td>
            <td>吕云鹏</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>5</td>
            <td>与刑侦嫌疑库对比</td>
            <td>20分</td>
            <td>2018-01-22 14:42:01</td>
            <td>梦瑶</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        <tr>
            <td>6</td>
            <td>与刑侦重点库对比</td>
            <td>5分</td>
            <td>2018-01-22 14:42:01</td>
            <td>梦瑶</td>
            <td><a href="#" class="tablelink">编辑</a>　<a href="#" class="tablelink">删除</a></td>
        </tr>

        </tbody>
    </table>


    <div class="pagin">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>
            <li class="paginItem current"><a href="javascript:;">2</a></li>
            <li class="paginItem"><a href="javascript:;">3</a></li>
            <li class="paginItem"><a href="javascript:;">4</a></li>
            <li class="paginItem"><a href="javascript:;">5</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:;">10</a></li>
            <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>


</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
<!--导出Excel-->
<script type="text/javascript">
    function exportExcel() {
        alert("导出Excel函数");
    }
</script>

</body>

</html>
