<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>天津市滨海新区公安塘沽分局矛盾纠纷系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jsCalender/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>


</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="home.html">首页</a></li>
        <li><a href="#">分析研判</a></li>
        <li><a href="#">处置化解统计表</a></li>
        <li><a href="#">汇总分析研判</a></li>
    </ul>
</div>

<div class="rightinfo">

    <ul class="prosearch">
        <li>
            <i>年份</i>
            <a>
                <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                    <option value="0">请选择</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </a>


            <i>季度</i>
            <a>
                <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                    <option value="0">请选择</option>
                    <option value="1">第一季度</option>
                    <option value="2">第二季度</option>
                    <option value="3">第三季度</option>
                    <option value="4">第四季度</option>
                </select>
            </a>

            <i>月份</i>
            <a>
                <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                    <option value="0">请选择</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </a>

            <i>时间段</i><a><input name="" type="text" class="scinput" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></a>
            <i>至</i><a><input name="" type="text" class="scinput" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></a>


            <a><input name="button" type="button" class="sure" value="查询"
                      style="background:#417EB5;margin-left: 25px;"/></a>
            <a><input name="button" type="button" class="sure" value="导出Excel" onclick="exportExcel()"
                      style="background:#417EB5;margin-left: 25px;"/></a>

        </li>
    </ul>


</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
<!--导出Excel-->
<script type="text/javascript">
    function exportExcel() {
        alert("导出Excel函数");
    }
</script>

</body>

</html>
