<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>yskj测试平台管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<frameset rows="88,*,31" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="top" name="topFrame" noresize="noresize" id="topFrame" title="topFrame"/>
    <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
        <frame src="left_menu" name="leftFrame" noresize="noresize" id="leftFrame" title="leftFrame" scrolling="yes"/>
        <frame src="home" name="rightFrame" id="rightFrame" title="rightFrame"/>
    </frameset>
    <frame src="footer" name="bottomFrame" noresize="noresize" id="bottomFrame" title="bottomFrame"/>
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>


<!--
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天津市滨海新区公安塘沽分局矛盾纠纷系统</title>
</head>
<frameset rows="88,*,31" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="top.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
    <frame src="left_menu.html" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" scrolling="yes" />
    <frame src="home.html" name="rightFrame" id="rightFrame" title="rightFrame" />
  </frameset>
  <frame src="footer.html" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" title="bottomFrame" />
</frameset>
<noframes><body>
</body></noframes>
</html> -->
