<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加用例</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" th:action="@{/add}" method="post">
        <div class="form-group">
            <label for="casename" class="col-sm-2 control-label">casename</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="casename" id="casename" placeholder="casename"/>
            </div>
        </div>
        <div class="form-group">
            <label for="casedesc" class="col-sm-2 control-label">casedesc</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="casedesc" id="casedesc" placeholder="casedesc"/>
            </div>
        </div>
        <div class="form-group">
            <label for="caseactual" class="col-sm-2 control-label">caseactual</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="caseactual" id="caseactual" placeholder="caseactual"/>
            </div>
        </div>
        <div class="form-group">
            <label for="caseexpect" class="col-sm-2 control-label">caseexpect</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="caseexpect" id="caseexpect" placeholder="caseexpect"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info"/>
            </div>

        </div>
    </form>
</div>
</body>
</html>